.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: white;
  scrollbar-width: none;
  overflow: scroll;
}

.head-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}

/* ซ่อน scrollbar ทุกที่แต่ยังเลื่อนได้ */
::-webkit-scrollbar {
  display: none;
}