.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: white;
}


.head-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 1rem 2rem;
  transition: all 0.3s ease;
}



/* สำหรับ Chrome, Safari, Edge */
body::-webkit-scrollbar {
  display: none;
}

/* สำหรับ Firefox */
body {
  scrollbar-width: none;
}

/* ให้ยัง scroll ได้อยู่ */
body {
  overflow-y: scroll;
}