/* Main Layout */
.login-page {
  display: flex;
  width: 750px;
  height: 600px;
  border-radius: 16px;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  box-shadow: 0 8px 24px rgba(0,0,0,0.1);
}

/* Left Section (Form) */
.login-left {
  flex: 1;
  background-color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}

.signup-link {
  color: #1A74BE;
  text-decoration: none;
  font-weight: 500;
}
.signup-link:hover {
  text-decoration: underline;
}

/* Form Fields */
.login-form .ant-input,
.login-form .ant-input-affix-wrapper {
  height: 42px;
  border-radius: 24px;
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

/* Ensure Password input inside wrapper has no extra padding */
.login-form .ant-input-affix-wrapper .ant-input {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}


/* Forgot Password */
.login-forgot {
  font-size: 12px;
  color: #aaa;
  margin-bottom: 16px;
  display: inline-block;
}
.login-forgot:hover {
  color: #666;
}

.continue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Continue Buttons */
.continue-btn {
  height: 42px;
  border-radius: 24px;
  width: 100%;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sign-in-button{
  background-color: #fff;
  border: 1px solid #ccc;
}
.google-login-button {
  background-color: #fff;
  border: 1px solid #ccc;
}

.apple-login-button {
  background-color: #fff;
  border: 1px solid #ccc;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}

/* Divider */
.divider-text {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin: 16px 0;
}

/* Policy Links */
.policy {
  font-size: 12px;
  color: #888;
  margin-top: 24px;
  text-align: center;
}

.policy a {
  color: #333;
  text-decoration: underline;
}

/* Right Section (Image) */
.login-right {
  flex: 1;
  background-image: url('../../../assets/night.jpg');
  background-size: cover;
  background-position: center;
}
