.chat-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 60px;
}

.navbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.chat-page-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100vw;
}

.chat-page-section-1,
.chat-page-section-2 {
  flex: 1;
  box-sizing: border-box;
  padding: 16px;
}

.chat-page-section-2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 16px; /* ระยะห่างเท่ากันระหว่างลูกแต่ละตัว */
  height: 90vh;
}

.chat-page-messages,
.chat-page-recommend,
.chat-page-map {
  flex: 1;
  border-radius: 16px;
}