.account-box {
  background-color: #fff;
  border-radius: 12px;
  padding: 32px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.account-header {
  margin-bottom: 32px;
}

.account-form .form-label-with-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-button-group {
  margin-top: 32px;
  display: flex;
  justify-content: flex-start;
}
