.account-box {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 32px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.account-header {
    margin-bottom: 32px;
}

.account-form .form-label-with-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.account-form .ant-form-item {
  margin-bottom: 24px!important;  
}

/* Input & Affix Wrapper */
.account-form .ant-input,
.account-form .ant-input-affix-wrapper {
  height: 40px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: none;
  font-size: 16px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  cursor: default;
}

/* Disabled State */
.account-form .ant-input[disabled],
.account-form .ant-input-affix-wrapper[disabled],
.account-form .ant-input-affix-wrapper-disabled {
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.85);
  border-color: #d9d9d9;
  cursor: default !important;
}

/* Hover effect (disabled included) */
.account-form .ant-input:hover,
.account-form .ant-input[disabled]:hover,
.account-form .ant-input-affix-wrapper:hover {
  border-color: #40a9ff!important;
}

/* Inner input inside affix wrapper */
.account-form .ant-input-affix-wrapper .ant-input {
  border: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  cursor: default;
}
