.navbar {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #000000;
  border-bottom: 5px solid #000000;
  background-color: #ffffff;
}

.navbar-logo-text {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-icon {
  color: #545f71;
  font-size: 24px;
}

.navbar-menu {
  display: flex;
  gap: 10px;
  background-color: #d9d9d9;
  border-radius: 8px;
  padding: 5px;
}

.custom-modal .ant-modal-close {
  width: 24px;
  height: 24px;
  top: 26px;
  right: 30px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal .ant-modal-close svg {
  font-size: 20px;
  color: #000000;
}