.map-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.map-content {
  flex: 1;
  height: 100%;
}

#map {
  width: 100%;
  height: 385px; /* ปรับตามต้องการ */
}
