.map-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.map-content {
  flex: 1;
  height: 100%;
}

#map {
  border-radius: 16px;
  width: 100%;
  height: 370px; /* ปรับตามต้องการ */
}
