.register-page {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 16px;
    color: #1E1E1E;
    background-color: white;
    height: 550px;
}

.register-left,
.register-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.register-left {
    background-image: url('../../../assets/night.jpg');
    background-size: cover;
    background-position: center;
    z-index: 10;
    margin: 20px;
    border-radius: 16px;
}


.register-form-container {
    padding: 30px;
}

.register-header {
    margin: 10px 0;
    text-align: right;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.signin-switch {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 1rem;
}

.signin-link {
    color: #1A74BE;
    text-decoration: none;
}

.signin-link:hover {
    text-decoration: underline;
}

.ant-form-item {
    margin-bottom: 1px;
    height: 60px;
}

.ant-input,
.ant-input-password {
    border-radius: 16px;
    border: 1px solid #D9D9D9;
    transition: border-color 0.3s;
    background-color: #D9D9D90E;
}

.ant-form-item-explain-error {
    font-size: 12px;
    margin-left: 10px;
    color: #ff4d4f;
}

.register-button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}

.register-button {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    gap: 5px;
    background-color: rgb(233, 160, 255);
    border: 2px solid #000000;
}

@media screen and (max-width: 768px) {
    .register-left {
        display: none;
    }

    .register-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-form-container {
        padding: 40px;
        height: 100%;
        width: 100%;
    }
}