.back {
  position: fixed;      /* ลอยอยู่กับที่ แม้จะเลื่อนหน้า */
  top: 30px;            /* ระยะจากด้านบน */
  left: 30px;           /* ระยะจากด้านซ้าย */
  color: rgb(0, 0, 0);
  z-index: 1000;        /* ให้ลอยเหนือ element อื่น */
  cursor: pointer;      /* เปลี่ยนเป็นมือเมื่อ hover */
}
