/* =======================
   Global Reset & Fonts
======================= */
* {
  font-family: 'Plus Jakarta Sans','Prompt', 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
textarea,
.ant-input,
.ant-picker-input input {
  font-family: inherit;
}

.navbar a {
  text-decoration: none;
}
